[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "~=3.11.0"
django-rest-knox = "~=4.1.0"
django-oauth-toolkit = "~=0.10.0"
django-environ = "*"

[requires]
python_version = "3.7"
